header{
    display: grid;
    align-items: center;;
    border-bottom: 1px solid var(--color-dark-grey);
    position: sticky;
    top: 0;
    background: var(--color-white);
    box-shadow: 0 0 20px var(--color-grey);
    z-index: 100000;
}
header .header-left{
    grid-column: span 5;
}
header .header-right{
    grid-column: span 6;
    display: grid;
    place-items: center;
    max-height: 0;
    overflow: hidden;
    transition: var(--transition-medium) ease;
}

header .header-left a{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

header .header-left a img{
    position: relative;
    width: var(--icon-size);
    transform: translateX(0);
    margin: 0 auto;
    transition: var(--transition-fast) ease;
}

header .header-left a:hover img{
    transform: translateX(-5%);
}
header .header-left a span{
    text-transform: uppercase;
    transform: scale(1) rotate(0deg);
    position: relative;
    transition: var(--transition-fast) ease;
}

header .header-left a:hover span{
    transform: scale(1.01) rotate(2deg);
}
header .header-left button.menu-icon {
    user-select: none;
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 50px;
    outline: none;
    background: transparent;
    padding: 8px;
    margin: 5px 15px;
}
header .header-left button.menu-icon > div{
    width: 100%;
    height: 5px;
    opacity: 1;
    transform: rotate(0deg) translateY(0);
    transform-origin: center;
    transition: var(--transition-fast) linear;
    background: var(--color-black);
}
header .header-left button.menu-icon.active-menu div:nth-child(1){
    transform: rotate(-45deg) translateY(10px) translateX(-5px);
}
header .header-left button.menu-icon.active-menu div:nth-child(2){
    opacity: 0;
}
header .header-left button.menu-icon.active-menu div:nth-child(3){
    transform: rotate(45deg) translateY(-11px) translateX(-5px);
}
header .header-right nav{
    width: 100%;
    max-width: 300px;
}
header .header-right nav ul{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    text-align: center;
}
header .header-right nav ul li{
    padding: 10px;
    position: relative;
}
header .header-right nav ul li a{
    color: var(--color-blue);
    transition: var(--transition-medium) linear;
}
header .header-right nav ul li a.active-link{
    color: var(--color-red);
    font-weight: 500;
}
header .header-right nav ul li a:hover{
    color: var(--color-red);
}
header .cart-counter {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 600;
    color: var(--color-white);
    background: var(--color-red);
    border-radius: 50%;
    border: 1px solid var(--color-blue);
}
@media (min-width: 600px){
    header{
        grid-template-columns: repeat(8, 1fr)
    }
    header .header-left{
        grid-column: span 2;
    }
    header .header-right{
        max-height: unset;
        overflow: unset;
    }
    header .header-right nav ul{
        grid-template-columns: repeat(4, 1fr);
    }
    header .header-left button.menu-icon{
        display: none;
    }
}