.product-grid{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(1, 1fr);
    transition: var(--transition-medium) ease;
}
.product-grid .product{
    border: 1px solid var(--color-dark-grey);
    border-radius: var(--smooth-radius);
    transition: var(--transition-fast) ease;
    box-shadow: none;
    position: relative;
    top: 0;
}
.product-grid .product:hover{
    box-shadow: 0 0 30px var(--color-grey);
    top: calc(var(--smooth-radius) * -1);
}
.product-grid .product img {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
    border-bottom: 1px solid var(--color-grey);
}
.product-data,
.product-buttons{
    display: grid;
    place-items: center;
    gap: var(--grid-gap);
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 600px){
    .product-grid{
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (min-width: 768px){
    .product-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1024px){
    .product-grid .product img{
        width: 350px;
        height: 350px;
    }
}