@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,
*::after{
    margin: 0;
    padding: 0;
}

:root{
    --color-white: #FFF;
    --color-black: #000;
    --color-red: #C00;
    --color-grey: #EEE;
    --color-dark-grey: #CCC;
    --color-blue: #103E92;
    --color-orange: #FFA500;
    --color-light-green: #03BE03;
    --color-green: #03be03;

    --transition-fastest: 0.1s;
    --transition-fast: 0.2s;
    --transition-medium: 0.5s;
    --transition-slow: 0.9s;
    --transition-slowest: 1s;

    --icon-size: 60px;

    --smooth-radius: 0.25rem;
    --grid-gap: 20px;

    --page-max-width: 1300px;
}

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb{
    background: var(--color-blue);
}

a,
button,
span,
small,
sup,
strong{
    display: inline-block;
}

a,
button{
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: 0;
}

img,
video,
svg{
    display: block;
    width: 100%;
    max-width: 100%;
    user-select: none;
}

ul,
ol{
    list-style: none;
    list-style-type: none;
}

html,
body{
    width: 100%;
    font-family: "Open Sans", sans-serif;
}
.page-wrapper{
    padding: 2rem;
    min-height: 600px;
}
.btn {
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 44px;
    font-size: 1rem;
    color: var(--color-black);
    background: transparent;
    border: 1px solid var(--color-dark-grey);
}

.btn-add{
    border: 0;
    background: var(--color-orange);
}
.btn-view{
    border: 0;
    color: var(--color-white) !important;
    background: var(--color-black);
}
/*-----footer-----*/
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #928d8d;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #3e1919;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: blue;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: rgb(182, 182, 228);
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*about us*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: #ffffff;

}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.container{
    width: flex;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;

}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    color: rgb(11, 7, 9);
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;

}
.about-content .read-more:hover{
    background-color: #103E92;
}
@media screen and (max-width: 768px){
    .heading{
        padding: 0px 20px;

    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
}